html,body{
font-family: "Open Sans","Roboto","sans-serif";
font-weight: 300;
margin:0;
padding:0;
height:100%;
font-size:14px;
 background:#e9e9e9 !important; 
}

ul,li{
margin:0;
padding:0;
}

.left{
float:left;
}

.right{
float:right;
}

.clear{
clear:both;
}

.login_wrap{
display:block;
margin:auto;
padding-top:7%;
}

.login_wrap .uk-panel{
margin:auto;
}

.login_logo{
height:80px;
width:80px;
margin:auto;
background:url("../images/store-logo4.png") no-repeat;
}

/*.help-block.form-error{
bottom: -20px;
right:0;
position: absolute;
z-index:100;
border:1px solid #D85030;
padding:5px 8px;
background:#FFF1F0;
font-size:12px;
}*/



.help-block.form-error{
bottom: -25px;
right:20%;
position: absolute;
z-index:100;
border:1px solid #D85030;
padding:5px 8px;
background:#D85030;
font-size:12px;
color:#fff;
}

.help-block.form-error:after{ 
bottom: 100%; 
left: 50%; border: solid transparent;
content: " "; 
height: 0;
width: 0; 
position: absolute; 
pointer-events: none; 
border-color: rgba(71, 77, 93, 0); 
border-bottom-color: #D85030; border-width: 9px; margin-left: -9px; 
}

.uk-form-row{
position:relative !important;
}

.header_wrap{
background:#e9573f;
/* border-bottom:1px solid #EEEEEE; */
height:52px;

}

.header_wrap .left, .main_wrapper .left_panel{
width:250px;
/* border-right:1px solid #EEEEEE; */
background: #e63f24;
}

.header_wrap h1{
margin:0;
padding:0;
text-align:center;
color:#fff;/*#1D2939;*/
line-height:52px;
}


.header_wrap .right{
padding-top:10px;
padding-right:20px;
padding-left:20px;
/* border-left:1px solid #EEEEEE; */
height:52px;
}

.main_wrapper{
position:relative;
height:100%;
}

.main_wrapper .left_panel{
background:#30363e;/*#1D2939;*/
color:#8F939E;
min-height:1200px;
position: relative;
z-index:2;
}
.header_wrap h1,.header_wrap  h2,.header_wrap  h3,.header_wrap  h4,.header_wrap  h5,.header_wrap  h6 {
    color: #FFF;
}
.main_content{
width:100%;
position:absolute;
z-index:1;
}

.main_content .inner{
padding-left:250px;
}

.breadcrumbs{
width:100%;
background:#F7F7F7;
border-bottom:1px solid #D3D7DB;
padding-top:10px;
padding-bottom:10px;
position:relative;
}

.breadcrumbs .inner{
padding-left:20px;
}

.breadcrumbs .inner h2{
margin:0;
padding:0;
line-height:normal;
color:#555;
}

.content{
margin:20px;
}

.content_wrap{
margin:20px;
background:#FFFFFF;
padding:10px 15px;
}

.menu{
width:230px;
/* margin:auto; */
display:block;
margin-top:10px;
}

.menu ul{
margin:0;
padding:0;
}

.menu li{
margin:0;
padding:0;
list-style:none;
}

.menu ul li.active{
background:#8CC14C;
}

.menu ul li.active a{
color:#FFFFFF;
}


.menu ul li.active a:hover{
/* background:#8CC14C; */
}

.menu a, .menu li span{
color:#FFF;/*#8F939E;*/
padding:8px 8px;
display:block;
font-weight:300;
font-size:14px;

}

.menu a:hover{
text-decoration:none;
color:#fff;
/* background:#FFFFFF; */
}

.menu i{
width:20px;
margin-right:4px;
}

.preloader{
display:block;
position:fixed;
z-index:100;
top:0;
right:0;
height:64px;
width:64px;
border:1px solid #EEEEEE;
background:url("../images/Preloader_2.gif") no-repeat;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
height:25px !important;
}

.spacer{
height:20px;
}

#tab-content{
padding-top:18px;
}

#table_list_length, #table_list_info,
.dataTables_length
{
float:left;
margin-top:10px;
}

#table_list_filter, #table_list_paginate,
.dataTables_filter, .dataTables_paginate
{
float:right;
margin-top:10px;
}

#table_list_paginate a, .dataTables_paginate a{
margin-right:10px;
}

.paginate_disabled_previous, .paginate_disabled_next{
display:none;
}

.qq-upload-list{
display:none;
}

#table_list .uk-thumbnail{
max-height: 80px;
width: 80px;
}

.multi_option_value{
display:none;
}

.multi_option_value.visible{
display:block;
}

.addnewprice, .removeprice,.addnewprice2, .removeprice2{
color:#8CC14C;
font-size:25px;
text-align:right;
display:block;
margin-right:20px;
}

.header_wrap  h4{
margin-top:5px;
}

#google_map_wrap{
border:1px solid #E4E7EA;
width:100%;
height:300px;
margin-top:10px;
}

.report a{
margin-right:8px;
}

.view-receipt-pop{
width:400px;
padding:10px;	
}
.view-receipt-pop{
width:400px;
padding:10px;	
}
.view-receipt-pop2{
padding:15px;	
}
.receipt-main-wrap{
width:410px;
margin:auto;
}

.receipt-wrap.order-list-wrap{
width:380px;
padding:15px 10px;
}

.input-block .label{
width:50%;
float:left;
}

.input-block .value{
width:50%;
float:right;
text-align:right;
/*text-transform:capitalize;*/
}

.order-list-wrap{
border:1px solid #E4E7EA;
border-top:3px solid #3399FF;
min-height:100px;
background:#FFFFFF;
padding-bottom:10px;
padding-left:5px;
padding-right:10px;
}

.item-order-list{
padding-bottom:5px;
padding-top:5px;
border-bottom:1px solid #E4E7EA;
}

.item-row .a,
.item-row .b,
.item-row .c,
.item-row .d,
.summary-wrap .a
{
float:left;
}

.item-row .manage, .summary-wrap .manage{
float:right;
}


.item-row .a{
width:25px;
text-indent:5px;
}

.item-row .c{
margin-right:4px;
}

.item-row .d, .summary-wrap .b{
width:80px;
text-align:right;
}

.item-row .b{
margin-right:5px;
width:170px;
word-break: normal;
}

.item-row .br{
margin-right:5px;
width:70%;
word-break: normal;
float:left;
}
.item-row .br .uk-text-small{
color: #bb2a38;
margin:4px 0;
}

.item-row a{
font-size:18px;
margin-right:5px;
color:#9A9A93;
}

.summary-wrap .a{
text-align: right;
width: 210px;
}

.action-wrap{
padding:10px;
}

#ui-datepicker-div, .mt-frm, .mt-frm-activation{
display:none ;
}

#total_sales_chart, #total_sales_chart_by_item{
width:100%; height:250px;
}

.chart{
margin-bottom:30px;
border-bottom:1px solid #ccc;
}

.admin-settings-page .uk-thumbnail-small{
max-height:56px;
width:334px;
}

.merchant-status:hover{
color:#fff;
}

.summernote{
min-height:200px;
}

.assignpage-form li{
cursor:move;
}

.login_wrap h3{
text-transform:capitalize;
}

#frm_table_list caption{
display:none;
}

#notice-merchant-stats{
position:absolute;
top:0;
   left: 30%;
}

.twillio-logo, .clickatel-logo{
background:url("../images/twilio.png") no-repeat;
background-size:contain;
height: 80px;
width: 350px;
margin-bottom:10px;
}

.clickatel-logo{
background:url("../images/clickatel-logo.png") no-repeat;
background-size:100% 100%;
margin-top:10px;
}

.nexmo-logo{
background:url("../images/nexmo_logo.png") center center no-repeat #128EC3 ;
background-size:contain;
height: 80px;
width: 350px;
margin-bottom:10px;
margin-top:20px;
}


.language-wrapper{
position: absolute !important;
right: 20px;
top: 8px;
}

.sms-package-wrap li{
border:1px solid #ccc;
float:left;
list-style:none;
margin-right:8px;
padding:8px;
/*text-transform:capitalize;*/
text-align:center;
min-height:300px;
}

.sms-package-wrap .uk-panel{
min-height:250px;
}

.sms-package-wrap h3{
text-transform:uppercase;
}

.sms-package-wrap{
text-align:center;
}

.promo{
text-decoration:line-through;
color:#FF0000;
}
.sms_credit_wrap{
position:absolute;
right:100px;
top:8px;
}

.user-access-list i{
display:none;
padding-left:10px;
}
.user-access-list li{
list-style:none;
padding:2px;
}
.user-access-list li input{
margin-right:10px;
}

#table_list .options{
display:none;
}

#admin_header_codes{
height:300px;
}

.big-textarea{
height:250px !important;
}

.uk-form-row ul li{
list-style:none;
margin-bottom:10px;
}
.uk-form-row ul span{
padding-left:8px;
}

.uk-form-row label, .uk-form-row h3, .content_wrap h4{
/*text-transform:capitalize;*/
}

.header_wrap a{
}

#merchant .right .uk-h3{
font-size:12px;
}


#gallery-preview{
padding-top:10px;
padding-bottom:10px;
}

#gallery-preview li{
list-style:none;
display:inline-table;
padding-right:10px;
}

.add_new_holiday{
font-size:30px;
color:#000;
display:block;
margin-left:200px;
margin-top:5px;
}


.holiday_row{
margin-left:200px;
margin-top:5px;
}
.holiday_row a{
display:inline;
font-size:30px;
color:#000;
margin-left:5px;
}

.small_date{
width:100px;
}

.payment-provider-list img{
margin-left: 5px;
margin-right: 15px;
max-width: 6%;
}

.payment-provider-list span{
padding-left:5px;
}
.csv-processing-wrap .indent{
margin:0;
padding:0;
margin-left:30px;
}
.csv-processing-wrap .non-indent{
margin:0;
}
.new-order-link a{
color:#FFFFFF;
}
.new-order-link a:hover{
color:#fff;
text-decoration:underline;
}

.header_wrap .left.small{
width:190px;
}

.header_wrap .right h3{
font-size:12px;
padding:0 8px;
}

.earnings-wrap ul{
display:table;
margin:auto;
}

.earnings-wrap ul li{
display:table-cell;
}

.earnings-wrap ul li .rounded-box{
margin:5px;
padding:8px 9px;
min-width:210px;
text-align:center;
background:#333333;
color:#fff;
min-height:120px;
}

.earnings-wrap ul li .rounded-box h3{
color:#fff;
font-size:20px;
font-weight:bold;
}

.earnings-wrap ul li .rounded-box a, .white-link{
color:#fff;
}

.rounded{
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; 
-khtml-border-radius: 5px;
}


.ingredients-label{
font-weight:400;
color:#659F13;
margin-top:5px!important;
font-style:normal !important;
}

.currentController_merchant p.uk-text-small{
margin:0;
padding:0;
}

.box-line-bottom{
border-bottom:1px solid #ccc;
}

.box-line-bottom h3, .box-line-bottom p{
margin:0;
padding:0;
}

.withdrawal-info{
margin-top:20px;
}

.withdrawals-ul li{
float:left;
margin-right:20px;
list-style:none;
}

.box-grey{
min-width:300px;
border:1px solid #ccc;
text-align:center;
}

.box-grey.payment{
min-height:150px;
}

.withdrawals-ul li{
cursor:pointer;
}

.box-grey h4{
background:#444444;
color:#fff;
padding:8px;
}
.box-grey .inner{
padding:8px;
}

.withdrawals-ul li.active h4{
background:#00A8E6;
}

.paypal-account-wrap, .bank-info-wrap{
margin-top:15px;
display:none;
}

.withdrawal-info .help-block{
display:none !important;
}

.bank-info-wrap{
margin-left:30px;
}

.required{
color:red;
padding-left:5px;
}

.withdrawal-info{
display:none;
}
.payout_action, #table_list .withdrawal-status{
/*text-transform:capitalize;*/
}
.w-list{
margin-bottom:8px;
}


.receipt-wrap .spicydish-icon, .spicydish-icon
{
max-width: 20px;
display:block;
}

.fax_credit_wrap{
position:absolute;
right:220px;
top:8px;
}

.receipt-wrap{
position:relative;
}
.close-receipt{
display: block;
padding: 5px;
position: absolute;
right: 10px;
top: 5px;
}

.cash_tr{
display:none;
}

.two_flavors_position{
display:none;
}


.limit-content{
text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}

.admin-access-list li{
list-style:none;
padding-bottom:3px;
padding-top:3px;
}
.admin-access-list li i{
display:none;
}
.admin-access-list li input,
.admin-access-list li .icheckbox_minimal
{
margin-right:10px;
}


.rc_logo{
display: block;
max-height: 70px;
max-width: 200px;
}

.uk-form-row ul.uk-tab li{
margin-bottom:0;
list-style:none;
}

.mytable{
display:table;
}

.mytable .col{
display:table-cell;
}
.mytable .col .spicydish-icon{
margin-right:5px;
}

.uk-notify{
z-index:99999 !important;
}

.foodgallery_preview li{
float:left;
}
.foodgallery_preview li img{
height: 70px;
width: 70px;
}
.foodgallery_preview:before{
content:'';
display:block;
clear: both;
}
.foodgallery_preview li a{
display: block;
font-size: 12px;
padding: 0 5px;
}

#logo-small{
height: auto;
max-width: 15%;
}

.big-text-area{
height: 100px !important;
width: 50%;
}

.currentController_merchant .row,
.currentController_admin .row
{
width:100%;
display:table;
}
.currentController_merchant .row .col-md-6,
.currentController_admin .row .col-md-6
{
display:table-cell;
width:50%;
}
.text-right{
text-align:right;
}

.concat-text
{
width: 100%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
display:block;
}

#table_list .concat-text{
width:200px;
}


/* -------------------------------- 

Sidebar

-------------------------------- */
.cd-side-nav {
	font-family:'Open Sans';
	font-weight:400;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  padding: 45px 0 0;
  background-color: #2c3136;
  visibility: hidden;
  opacity: 0;
  max-height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
.cd-side-nav.nav-is-visible {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0s;
  max-height: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.cd-side-nav > ul {
  padding: 0.6em 0;
}
.cd-side-nav > ul:last-of-type {
  padding-bottom: 0;
}
.cd-side-nav .cd-label, .cd-side-nav a {
  display: block;
  padding: 1em 5%;
}
.cd-side-nav .cd-label {
  text-transform: uppercase;
  font-weight: bold;
  color: #646a6f;
  font-size: 1rem;
  letter-spacing: .1em;
}
.cd-side-nav a {
  position: relative;
  color: #ffffff;
  font-size: 1.4rem;
}
.cd-side-nav ul.cd-top-nav > li:last-of-type > a {
  border-bottom: none;
}
.cd-side-nav > ul > li > a {
  padding-left: calc(5% + 24px);
  border-bottom: 1px solid #373d44;
}
.cd-side-nav > ul > li > a::before {
  /* icon before item name */
  position: absolute;
  content: '';
  left: 5%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  /* background: url(../img/cd-nav-icons.svg) no-repeat 0 0; */
}
.cd-side-nav > ul > li.overview > a::before {
  background-position: -64px 0;
}
.cd-side-nav > ul > li.notifications > a::before {
  background-position: -80px 0;
}
.cd-side-nav > ul > li.comments > a::before {
  background-position: -48px 0;
}
.cd-side-nav > ul > li.bookmarks > a::before {
  background-position: -32px 0;
}
.cd-side-nav > ul > li.images > a::before {
  background-position: 0 0;
}
.cd-side-nav > ul > li.users > a::before {
  background-position: -16px 0;
}
.cd-side-nav .count {
  /* notification badge */
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: calc(5% + 16px + 0.4em);
  padding: 0.2em 0.4em;
  background-color: #ff7e66;
  border-radius: .25em;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}
.cd-side-nav .action-btn a {
  display: block;
  margin: 0 5%;
  padding: 1em 0;
  background-color: #1784c7;
  border-radius: .25em;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}
.cd-side-nav .action-btn a::before {
  display: none;
}
@media only screen and (min-width: 768px) {
  .cd-side-nav {
    position: relative;
    float: left;
    top: auto;
    width: 110px;
    min-height: 100vh;
    padding-top: 0px;
    /* reset style */
    visibility: visible;
    opacity: 1;
    overflow: visible;
    max-height: none;
  }
  .cd-side-nav.nav-is-visible {
    box-shadow: none;
  }
  .cd-side-nav.is-fixed {
    position: fixed;
  }
  .cd-side-nav > ul {
    /* reset style */
    padding: 0;
  }
  .cd-side-nav .cd-label {
    /* remove labels on minified version of the sidebar */
    display: none;
  }
  .cd-side-nav a {
    font-size: 1.0rem;
    text-align: center;
  }
  .cd-side-nav > ul > li > a {
    padding: calc(2.2em + 24px) 0 2.4em;
  }
  .cd-side-nav > ul > li > a::before {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 2.4em;
  }
  .cd-side-nav .active > a {
    /* current page */
    box-shadow: inset 3px 0 0 #1784c7;
    background-color: #373b42;
  }
  .cd-side-nav .action-btn a {
    margin: 1em 10% 0;
  }
  .cd-side-nav .count {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    padding: 0;
    top: 2em;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: calc(50% + 5px);
    right: auto;
    color: transparent;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-side-nav {
    width: 250px;
  }
  .cd-side-nav > ul {
    padding: 0.6em 0;
  }
  .cd-side-nav > ul > li:not(.action-btn):hover > a {
    background-color: #33383e;
  }
  .cd-side-nav > ul > li > a {
    padding: 0.8em 1em 0.8em 20px;
    text-align: left;
    border-bottom: none;
  }
  .cd-side-nav > ul > li > a::before {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 18px;
  }
  .cd-side-nav .cd-label {
    display: block;
    padding: 1em 18px;
  }
  .cd-side-nav .action-btn {
    text-align: left;
  }
  .cd-side-nav .action-btn a {
    margin: 0 18px;
  }
  .no-touch .cd-side-nav .action-btn a:hover {
    background-color: #1a93de;
  }
  .cd-side-nav .count {
    /* reset style */
    color: #ffffff;
    height: auto;
    width: auto;
    border-radius: .25em;
    padding: .2em .4em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
    left: auto;
    box-shadow: none;
  }
}

.has-children ul {
  position: relative;
  width: 100%;
  display: none;
  background-color: #1c1f22;
}
.has-children > a::after {
  /* arrow icon */
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  right: 5%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  /* background: url(../img/cd-arrow.svg); */
}
.has-children.selected > ul {
  display: block;
}
.has-children.selected > a::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
@media only screen and (min-width: 768px) {
  .has-children {
    position: relative;
  }
  .has-children ul {
    position: absolute;
    top: 0;
    left: 100%;
    width: 160px;
    padding: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  .has-children ul a {
    text-align: left;
    border: none;
    padding: 0.85em;
  }
  .no-touch .has-children ul a:hover {
    color: #1784c7;
  }
  .has-children > a::after {
    display: none;
  }
  .cd-side-nav .has-children.selected > a {
    /* focus state -> show sub pages */
    background-color: #33383e;
  }
  .cd-top-nav .has-children {
    position: relative;
    background-color: #2c3136;
  }
  .cd-top-nav .has-children > a {
    height: 100%;
    padding: 0 calc(1.8em + 22px) 0 calc(1.8em + 26px) !important;
    line-height: 55px;
  }
  .cd-top-nav .has-children > a::after {
    display: block;
    right: 1.8em;
  }
  .cd-top-nav .has-children ul {
    background-color: #1c1f22;
    width: 200px;
    top: 100%;
    right: 0;
    left: auto;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }
  .cd-top-nav .has-children ul a {
    padding-left: 18px !important;
  }
}
@media only screen and (min-width: 1170px) {
  .has-children > ul {
    width: 100%;
    z-index: 1;
  }
  .has-children ul a {
    padding-left: 18px;
  }
  .has-children.active > ul {
    /* if the item is active, make the subnavigation visible */
    position: relative;
    display: block;
    /* reset style */
    left: 0;
    box-shadow: none;
  }
  .no-touch .cd-side-nav .has-children:hover > ul, .cd-side-nav .has-children.hover > ul {
    /* show subnavigation on hover */
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

